<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 
    <extensions> 
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Loki" /> 
    </extensions> 
 
    <targets> 
        <target name="logfile" xsi:type="File" fileName="file.txt" /> 
        <target name="logconsole" xsi:type="Console" /> 
        <target name="loki" xsi:type="loki"  
            batchSize="200"  
            taskDelayMilliseconds="500"  
            endpoint="http://localhost:3100"  
            username="myusername"  
            password="secret" 
            orderWrites="true"  
            compressionLevel="noCompression"  
            
            layout="${level}|${message}${onexception:|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}"> 
        <label name="app" layout="monitoring" /> 
        <label name="server" layout="${hostname:lowercase=true}" /> 
        </target>  
    </targets> 
 
    <rules> 
        <logger name="*" minlevel="Info" writeTo="logconsole" /> 
        <logger name="*" minlevel="Debug" writeTo="logfile" /> 
        <logger name="*" minlevel="Info" writeTo="loki" /> 
    </rules>
</nlog>